<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>
    {% block title %} axum diesel {% endblock %}
</title>

<link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
<meta name="description" content="">
<meta name="author" content="">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">

<link href="/assets/css/style.css" rel="stylesheet">

</head>

<body class="bg-light">

{% include "navbar.html" %}

{% if msg %}
{% if msg[0] != "" %}
    <div class="container">
    <p class="alert alert-{{ msg[1] }}" role="alert">
        <span>{{ msg[0] }}</span>
    </p>
    </div>
{% endif %}
{% endif %}

<main role="main" class="base_main container">
    {% block content %}{% endblock %}
</main>

<footer class="container-fluid my-3">
    <span class="mx-5">&copy; Company</span>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>
</html>