{% extends "base.html" %}
{% block title %} users list {% endblock title %}

{% block content %}
<h1 class="lead my-3">all users</h1>

{% if visit.email %}
    <p class="alert alert-primary">
        <span>visit.. </span>
        <sup>id</sup>
        <sup>{{ visit.id }}</sup>
        <sup>email</sup>
        <sup>{{ visit.email }}</sup>
        <sup>name</sup>
        <sup>{{ visit.username }}</sup>
        <sup>status</sup>
        <sup>{{ visit.status }}</sup>
    </p>
{% endif %}
{% if is_no %}
<ul class="list-group">
    <li class="list-group-item list-group-item-warning">
        <sup>is_no {{ is_no }}</sup>
    </li>
</ul>
{% endif %}

{% if all_users %}
<div class="card">

    <div class="card-body">
    <ul class="list-group list-group-flush">
    {% for i in all_users %}
        <li class="list-group-item">
        <span>{{ i.id }}</span>
        <span class="mx-2">{{ i.username }}</span>
        <a title="account" class="page-link account" href="/account/user/{{ i.username }}">{{ i.email }}</a>

        <form method="POST">
        <input type="hidden" name="to_user" value="{{ i.id }}" />
        <input type="submit" value="subscribe" class="btn btn-sm btn-outline-primary mt-2">
        </form>

        </li>
    {% endfor %}
    </ul>
    </div>

</div>
{% endif %}

{% endblock content %}